# Python
__pycache__/
.venv/

# Node
node_modules/

# Environment Files
.env.dev
.env.prod
.env.test
.env.examples

# Testing
.coverage
.pytest_cache/
coverage/
playwright-report/
test-results/

# Git
.git/
.gitignore
.gitattributes

# Documentation
README.md

# Compose Files
docker-compose.yml
docker-compose.dev.yml
docker-compose.test.yml

# Dev Scripts
run_dev.sh
run_tests.sh

# SSL certificates
nginx/certs/

# Dev Workspace
temp/
.vscode/
.claude/
CLAUDE.md
