# --- Copy to '.env.dev' ---
# Database configuration
MYSQL_HOST=localhost
MYSQL_DATABASE=appdb
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
MYSQL_PORT=3306

# Flask configuration
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=password


# --- Copy to '.env.prod' ---
# Database configuration
MYSQL_HOST=db
MYSQL_DATABASE=appdb
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password

# Flask configuration
FLASK_ENV=production
FLASK_DEBUG=0
SECRET_KEY=password