# Python
__pycache__/
.venv/

# Node
node_modules/

# Environment Files
.env.dev
.env.prod

# Testing
.coverage
.pytest_cache/
coverage/
playwright-report/
test-results/

# SSL certificates
nginx/certs/

# Dev Workspace
temp/