# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Environment Files
.env
.env.*

# Tests
tests/

# Dev Scripts
run_dev.sh
run_tests.sh
lock_deps.sh
requirements.in
requirements-dev.in
requirements-dev.txt
ruff.toml
